# Secrets & credentials
.users.json
.env
.mkosi-secrets/
.mkosi-thirdparty/

# Build outputs & cache
mkosi.cache/
mkosi.builddir/
mkosi.output/
image
image.*
.config-checksum

# Legacy
.build/
artifacts/

third-party/
