ESP_PART={{ cloudbox_esp_part }}
SLOT_A_ROOT={{ cloudbox_slot_a_root }}
SLOT_B_ROOT={{ cloudbox_slot_b_root }}

AB_BOOTLOADER=systemd-boot
INSTALL_SYSTEMD_BOOT=yes
LOADER_TIMEOUT={{ cloudbox_loader_timeout | default(3) }}
LOADER_CONF_PATH=/loader/loader.conf
LOADER_ENTRIES_DIR=/loader/entries

ESP_UKI_DIR=/EFI/Linux
SLOT_A_UKI=ab-slot-a.efi
SLOT_B_UKI=ab-slot-b.efi
SLOT_A_ENTRY_ID=ab-slot-a.conf
SLOT_B_ENTRY_ID=ab-slot-b.conf
AB_STATE_ESP_DIR=/EFI/Linux/ab-state

AB_AUTO_BLESS={{ 'yes' if (cloudbox_auto_bless | default(true) | bool) else 'no' }}
AB_HEALTH_DELAY_SECS={{ cloudbox_health_delay_secs | default(30) }}
AB_HEALTH_HOOK_DIR=/usr/local/libexec/ab-health-check.d
AB_REBOOT_ON_HEALTH_FAILURE={{ 'yes' if (cloudbox_reboot_on_health_failure | default(true) | bool) else 'no' }}
AB_HEALTH_FAILURE_REBOOT_DELAY={{ cloudbox_health_failure_reboot_delay | default(10) }}
AB_BUILD_INFO_PATH=/usr/local/share/ab-image-meta/build-info.env
AB_DEPLOY_INFO_PATH=/usr/local/share/ab-image-meta/deploy-info.env

EXTRA_KERNEL_ARGS="{{ cloudbox_extra_kernel_args | default('quiet console=ttyAMA0,115200 console=tty1') }}"

PRESERVE_PATHS=(
  /etc/fstab
  /etc/machine-id
  /etc/hostname
  /etc/ssh/ssh_host_*
)
